@charset "utf-8";

/*font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:16px;*/

body,html { margin:0px; padding:0px; width:100%; height:100%; }
body { background-image:url(../img/bkg_linen.png); background-repeat:repeat; font-family:Tahoma; font-size:11px; color:#505050; }

/* General Class */
.center_960 { width:960px; margin:0px auto 0px auto; }
.border_4 { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.sdw_bx { box-shadow:0px 1px 1px rgba(0,0,0,0.3); }
a { text-decoration:none; color:#505050; font-weight:bold; }
a:hover { text-decoration:underline; }
.relative { position:relative; }

/* Specific Class */
.main { position:relative; min-height:800px; height:100%; }
.header { height:80px; background-image:url(../img/bkg_top.png); background-repeat:repeat-x; width:100%; }
a.loginbutton { float:right; display:inline-block; height:34px; width:72px; color:#FFFFFF; font-size:18px; text-align:center; border:solid 1px #CD7300; margin:22px 0px 0px 0px; line-height:34px; text-decoration:none; background-image:url(../img/bkg_login.png); background-position:0px 0px; box-shadow:0px 1px 1px rgba(0,0,0,0.1); font-family:'myriad-pro'; font-weight:300; font-style:normal;}
a.loginbutton:hover { background-position:0px 36px; box-shadow:0px 1px 0px rgba(255,255,255,0.3); }
.slider { width:100%; top:80px; bottom:300px; position:absolute; min-width:960px; }
.slider .indicators { width:56px; height:10px; position:absolute; z-index:999; left:50%; margin:-30px 0px 0px -28px; }
.slider .indicators .point { width:6px; height:6px; background-color:#C8C8C8; display:inline-block; margin:0px 5px 0px 5px; border-radius:3px; cursor:pointer; box-shadow:0px 1px 0px #FFFFFF; }
.slider ul.slider_list { height:100%; width:100%; margin:0px; padding:0px; }
.slider ul.slider_list li { list-style:none; display:block; position:absolute; height:100%; width:100%; }
.slider ul.slider_list li.slide_1 { background-image:url(../img/bkg_slide_1.png);
									background-position:center;
									background-repeat:no-repeat; }
.slider ul.slider_list li.slide_2 { background-image:url(../img/bkg_slide_2.png);
									background-position:center;
									background-repeat:no-repeat;
									display:none; }
.slider ul.slider_list li.slide_3 { background-image:url(../img/bkg_slide_3_1.png),url(../img/bkg_slide_3_2.png); 
									background-position:center center, center top;
									background-repeat:no-repeat, no-repeat;
									display:none; }
.slider ul.slider_list li.slide_1 .text { position: absolute; top:50%; left:50%; width:500px; cursor:default; margin:-170px 0px 0px -130px; }
.slider ul.slider_list li.slide_2 .text { position: absolute; top:50%; left:50%; width:500px; cursor:default; margin:-200px 0px 0px -350px; }
.slider ul.slider_list li.slide_3 .text { position: absolute; top:50%; left:50%; width:500px; cursor:default; margin: 50px 0px 0px 0px }
.slider ul.slider_list .text span.big_title { font-size:64px; font-family:'myriad-pro'; font-weight:300; font-style:normal; display:block; letter-spacing:-5px; line-height:50px; }
.slider ul.slider_list .text span.small_title { font-size:18px; font-family:'myriad-pro'; font-weight:300; font-style:normal; display:block; color:#787878; margin:10px 0px 0px 60px; }
.bottom { width:100%; position:absolute; height:300px; bottom:0px; }
.register { height:83px; border-bottom:solid 1px #E1E1E1; }
.register .button_left { width:425px; height:100%; float:left; }
.register .button_center { width:110px; height:100%; float:left; background-repeat:no-repeat; background-position:center 26px; }
.register .button_right { width:425px; height:100%; float:left; line-height:64px; font-family: 'myriad-pro'; font-weight:300; font-style:normal;font-size:22px; }
.register .button_right a { color:#999999; }
.register .button_right a:hover { color:#505050; text-decoration:none; }
.register .button_left a.fb-button { display:block; float:right; height:58px; width:308px; color:#FFFFFF; border:solid 1px #304981; background-color:#304981; background:url(../img/fb_btn_logo_0.png) no-repeat 8px 5px, url(../img/fb_btn_0.png); font-size:28px; font-family: 'myriad-pro'; font-style:normal; font-weight:300; line-height:58px; padding:0px 0px 0px 70px; margin:0px 0px 5px 0px; text-shadow:0px -1px 0px rgba(0,0,0,0.5); background-color:304980; text-align:center; }
.register .button_left a.fb-button:hover { background:url(../img/fb_btn_logo_0.png) no-repeat 8px 5px, url(../img/fb_btn_0.png) repeat 0px -58px; text-decoration:none; }
.register .button_left span { font-size:10px; color:#999999; width:380; text-align:center; display:block; float:right; }
.bottom .activity { height:115px; border-top:solid 1px #FFFFFF; background-image:url(../img/bkg_activity.png); background-repeat:repeat-x; background-position:left 57px; min-width:960px; overflow:hidden; }
.bottom .activity ul { margin:0px; padding:0px; height:100%; width:100%; text-align:center; }
.bottom .activity ul li { display:inline-block; list-style:none; width:274px; height:50px; background-color:#FFFFFF; border:solid 1px #E1E1E1; margin:27px 15px 0px 15px; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:0px 1px 0px #FFFFFF; padding:5px; }
/*.bottom .activity ul li img { display:block; float:left; }*/

.bottom .activity ul li a.cont { display:block; float:left; width: 50px; height: 50px; cursor: pointer; background-repeat: no-repeat; background-position:center center; background-size: cover; }

.bottom .activity ul li span.hout { display:block; float:left; height:40px; width:154px; text-align:left; margin:5px 10px 0px 10px; overflow:hidden; }
.bottom .activity ul li span span.time { font-size:10px; color:#999999; margin:0px; }
.bottom .footer { height:99px; background-color:#FFFFFF; border-top:solid 1px #E1E1E1; }
.bottom .footer ul.footlist { margin:0px; padding:34px 0px 0px 0px; }
.bottom .footer ul.footlist li { text-decoration:none; display:inline-block; padding:0px 5px 0px 5px; }
.bottom .footer ul.footlist li a.normal { font-weight:normal; }
.bottom .footer .copyright { font-size:10px; color:#A0A0A0; margin:5px 0px 0px 3px; }
.bottom .footer .cajal_logo { position:absolute; top:12px; right:0px; height:75px; line-height:75px; text-align:right; }
.bottom .footer .cajal_logo img { margin:0px 0px -35px 0px; }