html,body { margin:0px; padding:0px; }
body { background:#F0F0F0; color:#505050; font-family:Tahoma; }

#loginMain { display:block; }
.textbox_login { background: #FFFFFF; border: 1px solid #C8C8C8; color: #A0A0A0; font-size: 10pt; padding: 10px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; width:338px; }
.img_b0 { border:0px; }
.img_warning { vertical-align:middle; margin-right:10px; }
.bar_login { height:39px; background-image: url("../img/bee.png"), url("../img/menubkg.jpg"); background-position: center center, left top; background-repeat: no-repeat, repeat-x; border-bottom:solid 1px #EB9100; box-shadow:0px 0px 3px #999; margin-bottom:50px;text-align:center; padding-top:10px }
.mb14 { margin-bottom:14px }
.mb6 { margin-bottom:6px }
.hr { height:1px; background-color:#EBEBEB; }
#uSubmitt { background: transparent url('../img/signin_btn.png') no-repeat;width:95px;height:34px; border:0px; font-size:16px;color:#FFFFFF; cursor:pointer; font-family:"myriad-pro"; font-weight:300; text-shadow:0px -1px 0px rgba(0,0,0,0.5); }
#uFB { padding:0px 2px 0px 34px; background: transparent url('../img/signin_fb_btn.png') no-repeat; width:174px; height:34px; line-height:34px; border:0px; font-size:13px; color:#FFFFFF; cursor:pointer; font-family:sans-serif,Tahoma; text-shadow:0px -1px 0px rgba(0,0,0,0.5); }
#errLogin { padding-top:15px; padding-left:15px; height:29px; width:391px; background-color:#FFFAE6; margin:0px auto; border:solid 1px #FFFFFF; border-bottom:0px; font-size:10pt; font-weight:normal; color:#505050; display:none; outline:#E1E1E1 solid 1px; }
#mainLogin { height:223px; width:358px; background-color:#FFFFFF; margin:0px auto; border:solid 1px #E1E1E1; padding: 25px 25px 20px 25px; box-shadow:0px 1px 0px #FFFFFF }
#copyright { text-align:center; margin-top:100px; font-size:10px; color:#A0A0A0;margin-bottom:30px }
#recoverlink { font-size:8pt; text-decoration:none; color:#A0A0A0; font-weight:200 }
#recoverlink:hover { text-decoration:underline }
#lbllogin { margin-bottom:14px; width:50%; float:left; font-family:"myriad-pro"; font-weight:300; font-style:normal; font-size:24px; color:#505050 }
#lblsignup { margin-bottom:14px; width:50%; float:right; padding-top:10px; text-align:right; font-size:10pt; color:#505050 }
#signuplink { font-weight:bold; font-size:10pt; text-decoration:none; color:#505050 }
#signuplink:hover { text-decoration:underline }
#SignUpMain { margin:0px auto; width:785px; }
#SUPhoto { width:194px; float:left; margin-top:4px; }
#Photo { height:180px; width:180px; background-color:#FFFFFF; border:solid 1px #E1E1E1; box-shadow:0px 1px 0px #FFFFFF; padding:6px; text-align:center; vertical-align:middle }
#PhotoLink { text-align:center; margin-top:16px; cursor:pointer; }
#vHR { height:583px; width:1px; background-color:#E1E1E1; margin:0px 30px 0px 30px; float:left; }
#Upload { font-weight:bold; font-size:13px; text-decoration:none; color:#505050; }
#Upload:hover { text-decoration:underline }
#lblsign { font-family:"myriad-pro"; font-weight:300; font-style:normal; font-size:30px; color:#505050 }
.textbox_su { background: #FFFFFF; border: 1px solid #C8C8C8; color: #A0A0A0; font-weight:normal; font-size: 16px; padding:16px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; box-shadow:0px 1px 0px #FFFFFF; margin-right:16px; }
.textbox_su_error { box-shadow:0px 0px 2px rgba(255,0,0,0.9); border:1px #EDC78F solid; }
.textbox_su:focus { box-shadow:0px 0px 2px rgba(237,199,143,0.4); border:1px #EDC78F solid; }
.mb22 { margin-bottom:22px;position:relative }
.select_su { background: #FFFFFF; border: 1px solid #C8C8C8; color: #A0A0A0; font-weight:normal; font-size: 16px; padding: 16px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; box-shadow:0px 1px 0px #FFFFFF; margin-right:16px; overflow: hidden; }
.select_su_error { box-shadow:0px 0px 2px rgba(255,0,0,0.9); border:1px #EDC78F solid; }
.select_su:focus { box-shadow:0px 0px 2px rgba(237,199,143,0.4); border:1px #EDC78F solid; }
#btnSignUp { background: transparent url('../img/signup_btn.png') no-repeat;width:147px;height:47px;border:0px; font-size:16px;color:#FFFFFF; cursor:pointer }
.w138 { width:138px; }
.w329 { width:331px; }
.w172 { width:172px; }
.w140 { width:140px; }
.w117 { width:117px; }
.w32 { width:32px; }
.terms { font-size:11px; color:#A0A0A0 }
#termslink { font-weight:bold; font-size:11px; text-decoration:none; color:#505050 }
#termslink:hover { text-decoration:underline }
.slabels { font-size:13px; color:#505050; float:left; width:400px; position:absolute; left:400px; top:15px }
.floatleft { float:left; }



input[type=button].dark_36px { font-family:'myriad-pro'; height:36px; background-color:#505050; border:1px solid #323232; border-radius:3px; padding:0px 15px 0px 15px; font-size:16px; color:#FFFFFF; box-shadow:inset 0px 0px 1px 1px rgba(255,255,255,0.5); margin:10px 0px 0px 0px; cursor:pointer; }
input[type=button].dark_36px:hover { background-color:#323232; }
input[type=button].clear_36px { font-family:'myriad-pro'; height:36px; background-color:#fff; border:1px solid #E1E1E1; border-radius:3px; padding:0px 15px 0px 15px; font-size:16px; color:#505050; margin:10px 0px 0px 0px; cursor:pointer; }
input[type=button].clear_36px:hover { background-color:#F0F0F0; }
input[type=button].dark_54px { font-family:'myriad-pro'; height:54px; background-color:#505050; border:1px solid #323232; border-radius:3px; padding:0px 15px 0px 15px; font-size:26px; color:#FFFFFF; box-shadow:inset 0px 0px 1px 1px rgba(255,255,255,0.5); margin:10px 0px 0px 0px; cursor:pointer; }
input[type=button].dark_54px:hover { background-color:#323232; }
input[type=button].dark_40px { font-family:'myriad-pro'; height:40px; line-height:40px; background-color:#505050; border:1px solid #323232; border-radius:3px; padding:0px 15px 0px 15px; font-size:18px; color:#FFFFFF; box-shadow:inset 0px 0px 1px 1px rgba(255,255,255,0.5); margin:10px 0px 0px 0px; cursor:pointer; }
input[type=button].dark_40px:hover { background-color:#323232; }

/* Box Friend Classes */

.root_box { width:848px; margin:auto auto; padding:0px 0px 0px 24px; }
.cont_box { font-family:'myriad-pro'; color:#505050; width:356px; height:156px; background-color:#fff; border:1px solid #E1E1E1; box-shadow:0px 1px 0px #FFFFFF; padding:15px; float:left; margin:0px 24px 24px 0px; }
.cont_box .usr_photo { height:100px; width:100px; background-position:center;background-repeat:no-repeat; float:left; margin:0px 15px 15px 0px; }
.cont_box .usr_data { font-size:30px; float:left; }
.cont_box .usr_data .usr_foll { font-size:16px; color:#A0A0A0; }
.cont_box .usr_name { font-size:20px;  border-top:1px solid #E1E1E1; padding:18px 0px 0px 0px; }
.cont_box .usr_name span { font-size:14px; color:#A0A0A0; }

.brainvals {text-shadow:0px -1px 0px rgba(0,0,0,0.2); padding-left:15px; line-height:67px; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:34px; color:#FFFFFF; float:left; height:67px; position:relative }
.brainvals img { position:absolute; left:-5px;top:67px }
.br_dark {background-color:#A0A0A0; }
.br_white {background-color:#BEBEBE; }

input[type=button].dark_54px { font-family:Tahoma; height:54px; line-height:54px; background-color:#505050; border:1px solid #323232; border-radius:3px; padding:0px 10px 0px 10px; font-size:26px; color:#FFFFFF; box-shadow:inset 0px 0px 1px 1px rgba(255,255,255,0.5); margin:0px 0px 0px 0px; cursor:pointer; }
input[type=button].dark_54px:hover { background-color:#323232; }

.modalpopup { display:none; position:absolute; background-color:#FFFFFF; width:480px; height:280px; top:50%; left:50%; margin:-140px 0px 0px -240px; z-index:21; border:1px #C8C8C8 solid; border-radius:4px; padding:0px; box-shadow: 0px 1px 3px rgba(0,0,0,0.1); }
.modalclose { border-radius:3px; text-align:center; background-image:url(../img/about_no.png); background-position:center center; background-repeat:no-repeat ; line-height:30px; width:30px; height:30px; opacity:1; position:relative; cursor:pointer; left:100%; margin-left:-30px; margin-top:0px; z-index:25; }
