@charset "utf-8";
/* CSS Document */

.startscreen {
	background-image:
		url(../img/gm1_bkg3.png),
		url(../img/gm1_bkg1.png),
		url(../img/gm1_bkg2.png),
		url(../img/gm1_bkg0.png); 
	
	background-repeat:
		no-repeat,
		no-repeat,
		no-repeat,
		repeat;
		 
	background-position:
		center,
		center,
		center,
		center;
		 
	background-size:
		auto,
		100% 100%,
		auto,
		auto;
}