@charset "utf-8";
/* CSS Document */

.startscreen {
	background-image:
		url(../img/gm6_bkg1.png),
		url(../img/gm6_bkg2.png),
		url(../img/gm6_bkg3.png); 
	
	background-repeat:
		no-repeat,
		no-repeat,
		repeat-x;
		 
	background-position:
		center,
		center bottom,
		center top;
		 
	background-size:
		auto,
		auto,
		auto;
}