@charset "utf-8";
/* CSS Document */

.startscreen {
	background-image:
		url(../img/gm7_bkg1.png),
		url(../img/gm7_bkg2.png),
		url(../img/gm7_bkg3.png); 
	
	background-repeat:
		no-repeat,
		no-repeat,
		repeat;
		 
	background-position:
		center,
		center,
		center top;
		 
	background-size:
		auto,
		cover,
		auto;
}