@charset "utf-8";
/* CSS Document */

hmtl,body { margin:0px; padding:0px; height:100%; width:100%; min-width:960px; overflow:hidden }


.game_slides {  height:460px; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:16px; color:#505050; }
.topbar { position:relative; top:0; left:0; width:100%; }
.topbar .element1 { height:100px; width:100%; }
.topbar .element2 { height:100px; width:100%; }
.gametrayout { position:relative; height:100%; width:100%; padding:0px 0px -178px 0px; }
.gametrayin { position:absolute; width:100%; top:0px; bottom:178px; overflow:hidden; min-height:480px; }
.startscreen { position:absolute; height:100%; width:100%; display:block; }
.startscreen .optionbox { background-color:#F0F0F0; border:solid 1px #FFFFFF; border-radius:3px; position:absolute; height:38px; line-height:38px; margin:25px 0px 0px 25px; padding:0px 0px 0px 0px; box-shadow:0px 3px 3px rgba(0,0,0,0.3); }
.startscreen .optionbox .btn { cursor:pointer; display:inline-block; border-radius:3px; text-decoration:none; color:#505050; text-shadow:0px 1px 0px #FFF; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:20px; padding:0px 20px 0px 20px; }
.startscreen .optionbox .btn:hover { background-color:#E1E1E1; }
.startscreen .optionbox .sepline { display:inline-block; background-color:#C8C8C8; height:30px; width:1px; box-shadow:0px 0px 0px #FFF; margin:0px -2px -10px -2px; }
.gamescreen { height:100%; width:100%; display:block; }
span.loadwait { display:block; }
a.loadready { display:block; }

/*.loadinstavision { background-color:#493D37; border:solid 1px #3F332D; color: #FFFFFF; height: 78px; }*/
.loadinstavision { z-index:10; cursor:pointer; box-shadow:0px 3px 3px rgba(0,0,0,0.3), inset 0px 0px 0px 1px rgba(255,255,255,0.2); background-color:#493D37; border:solid 1px #3F332D; height:78px; line-height:78px; width:280px; position:absolute; left:50%; padding:0px; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:22px; color:#FFFFFF; bottom:0%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-shadow:0px -1px 0px rgba(0,0,0,0.5); }
.loadinstavision:hover { background-color:#352923; }


.loadgame { z-index:10; background-color:rgba(0,0,0,.7); width:282px; height:80px; line-height:80px; margin-left:-141px; position:absolute; left:50%; padding:0px 0px 0px 0px; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:20px; text-align:center; color:#FFFFFF; bottom:5%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.initgame { z-index:10; cursor:pointer; box-shadow:0px 3px 3px rgba(0,0,0,0.3); background-color:#F0F0F0; border:solid 1px #FFFFFF; height:78px; display:none; line-height:78px; width:280px; margin-left:-141px; position:absolute; left:50%; padding:0px; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:38px; color:#505050; bottom:5%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-shadow:0px 1px 0px #FFF; }
.initgame:hover { background-color:#E1E1E1; }
.modalpopup { display:none; position:absolute; background-color:rgba(255,255,255,0.95); width:890px; height:490px; top:50%; left:50%; margin-top:-250px; margin-left:-450px; z-index:21; border:1px #FFFFFF solid; border-radius:5px; padding:5px 5px 5px 5px; }
.modalclose { border-radius:3px; text-align:center; background-image:url(../../img/about_no.png); background-position:center center; background-repeat:no-repeat ; line-height:30px; width:30px; height:30px; position:relative; cursor:pointer; left:100%; margin-left:-30px; margin-top:0px; z-index:25; }


.modalpopup .upgrademodal { background-color: #EBEBEB; height: 100%; margin: -30px 0px 0px 0px; }
.modalpopup .upgrademodal .subtitle {}
@charset "utf-8";
/* CSS Document */

hmtl,body { margin:0px; padding:0px; height:100%; width:100%; min-width:960px; overflow:hidden }


.game_slides {  height:460px; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:16px; color:#505050; }
.topbar { position:relative; top:0; left:0; width:100%; }
.topbar .element1 { height:100px; width:100%; }
.topbar .element2 { height:100px; width:100%; }
.gametrayout { position:relative; height:100%; width:100%; padding:0px 0px -178px 0px; }
.gametrayin { position:absolute; width:100%; top:0px; bottom:178px; overflow:hidden; min-height:480px; }
.startscreen { position:absolute; height:100%; width:100%; display:block; }
.startscreen .optionbox { background-color:#F0F0F0; border:solid 1px #FFFFFF; border-radius:3px; position:absolute; height:38px; line-height:38px; margin:25px 0px 0px 25px; padding:0px 0px 0px 0px; box-shadow:0px 3px 3px rgba(0,0,0,0.3); }
.startscreen .optionbox .btn { cursor:pointer; display:inline-block; border-radius:3px; text-decoration:none; color:#505050; text-shadow:0px 1px 0px #FFF; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:20px; padding:0px 20px 0px 20px; }
.startscreen .optionbox .btn:hover { background-color:#E1E1E1; }
.startscreen .optionbox .sepline { display:inline-block; background-color:#C8C8C8; height:30px; width:1px; box-shadow:0px 0px 0px #FFF; margin:0px -2px -10px -2px; }
.gamescreen { height:100%; width:100%; display:block; }
span.loadwait { display:block; }
a.loadready { display:block; }

/*.loadinstavision { background-color:#493D37; border:solid 1px #3F332D; color: #FFFFFF; height: 78px; }*/
.loadinstavision { z-index:10; cursor:pointer; box-shadow:0px 3px 3px rgba(0,0,0,0.3), inset 0px 0px 0px 1px rgba(255,255,255,0.2); background-color:#493D37; border:solid 1px #3F332D; height:78px; line-height:78px; width:280px; position:absolute; left:50%; padding:0px; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:22px; color:#FFFFFF; bottom:0%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-shadow:0px -1px 0px rgba(0,0,0,0.5); }
.loadinstavision:hover { background-color:#352923; }


.loadgame { z-index:10; background-color:rgba(0,0,0,.7); width:282px; height:80px; line-height:80px; margin-left:-141px; position:absolute; left:50%; padding:0px 0px 0px 0px; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:20px; text-align:center; color:#FFFFFF; bottom:5%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.initgame { z-index:10; cursor:pointer; box-shadow:0px 3px 3px rgba(0,0,0,0.3); background-color:#F0F0F0; border:solid 1px #FFFFFF; height:78px; display:none; line-height:78px; width:280px; margin-left:-141px; position:absolute; left:50%; padding:0px; font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:38px; color:#505050; bottom:5%; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; text-shadow:0px 1px 0px #FFF; }
.initgame:hover { background-color:#E1E1E1; }
.modalpopup { display:none; position:absolute; background-color:rgba(255,255,255,0.95); width:890px; height:490px; top:50%; left:50%; margin-top:-250px; margin-left:-450px; z-index:21; border:1px #FFFFFF solid; border-radius:5px; padding:5px 5px 5px 5px; }
.modalclose { border-radius:3px; text-align:center; background-image:url(../../img/about_no.png); background-position:center center; background-repeat:no-repeat ; line-height:30px; width:30px; height:30px; position:relative; cursor:pointer; left:100%; margin-left:-30px; margin-top:0px; z-index:25; }


.modalpopup .upgrademodal { background-color: #EBEBEB; height: 100%; margin: -30px 0px 0px 0px; font-family:'myriad-pro'; font-weight:300; font-style:normal; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; text-align: center; text-shadow: 0px 1px 0px #FFFFFF; }
.modalpopup .upgrademodal .subtitle { font-size:24px; padding:30px 0px 0px 0px; }
.modalpopup .upgrademodal .gametitle { font-size:30px; }
.modalpopup .upgrademodal .paybutton { width: 256px; height: 54px; margin: 308px auto 0px auto; }
.modalpopup .upgrademodal .notebottom { color: #B3B3B3; font-family:Tahoma, sans-serif; font-weight:normal; font-size:10px; margin: 15px 0px 0px 0px; }


.scntitle { font-family:'myriad-pro'; font-weight:300; font-style:normal; font-size:28px; color:#505050; text-align:center; margin-bottom:20px; }
.scncontent { text-align:justify; font-size:14px; line-height:28px; padding:0px 20px 0px 20px }

.howprev { width:60px; height:460px; cursor:pointer; float:left; background-image:url(../../games/img/how_prev.png); background-position:center center; background-repeat:no-repeat;}
.howprev:hover { background-image:url(../../games/img/how_prev_hover.png);}

.hownext { width:60px; height:460px; cursor:pointer; float:left; background-image:url(../../games/img/how_next.png); background-position:center center; background-repeat:no-repeat;}
.hownext:hover { background-image:url(../../games/img/how_next_hover.png);}

#circularG{ position:relative; width:30px; height:30px }
.circularG{ position:absolute; background-color:#FFFFFF; width:7px; height:7px; -webkit-border-radius:5px; -moz-border-radius:5px; -webkit-animation-name:bounce_circularG; -webkit-animation-duration:1.2s; -webkit-animation-iteration-count:infinite; -webkit-animation-direction:linear; -moz-animation-name:bounce_circularG; -moz-animation-duration:1.2s; -moz-animation-iteration-count:infinite; -moz-animation-direction:linear; border-radius:5px; -o-animation-name:bounce_circularG; -o-animation-duration:1.2s; -o-animation-iteration-count:infinite; -o-animation-direction:linear; -ms-animation-name:bounce_circularG; -ms-animation-duration:1.2s; -ms-animation-iteration-count:infinite; -ms-animation-direction:linear; }
#circularG_1{ left:0; top:12px; -webkit-animation-delay:0.45s; -moz-animation-delay:0.45s; -o-animation-delay:0.45s; -ms-animation-delay:0.45s; }
#circularG_2{ left:3px; top:3px; -webkit-animation-delay:0.6s; -moz-animation-delay:0.6s; -o-animation-delay:0.6s; -ms-animation-delay:0.6s; }
#circularG_3{ top:0; left:12px; -webkit-animation-delay:0.75s; -moz-animation-delay:0.75s; -o-animation-delay:0.75s; -ms-animation-delay:0.75s; }
#circularG_4{ right:3px; top:3px; -webkit-animation-delay:0.9s; -moz-animation-delay:0.9s; -o-animation-delay:0.9s; -ms-animation-delay:0.9s; }
#circularG_5{ right:0; top:12px; -webkit-animation-delay:1.05s; -moz-animation-delay:1.05s; -o-animation-delay:1.05s; -ms-animation-delay:1.05s; }
#circularG_6{ right:3px; bottom:3px; -webkit-animation-delay:1.2s; -moz-animation-delay:1.2s; -o-animation-delay:1.2s; -ms-animation-delay:1.2s; }
#circularG_7{ left:12px; bottom:0; -webkit-animation-delay:1.35s; -moz-animation-delay:1.35s; -o-animation-delay:1.35s; -ms-animation-delay:1.35s; }
#circularG_8{ left:3px; bottom:3px; -webkit-animation-delay:1.5s; -moz-animation-delay:1.5s; -o-animation-delay:1.5s; -ms-animation-delay:1.5s; }
@-webkit-keyframes bounce_circularG{
0%{ -webkit-transform:scale(1) }
100%{ -webkit-transform:scale(.3) }
}
@-moz-keyframes bounce_circularG{
0%{ -moz-transform:scale(1) }
100%{ -moz-transform:scale(.3) }
}
@-o-keyframes bounce_circularG{
0%{ -o-transform:scale(1) }
100%{ -o-transform:scale(.3) }
}
@-ms-keyframes bounce_circularG{
0%{ -ms-transform:scale(1) }
100%{ -ms-transform:scale(.3) }
}
